* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.imgBox {
  height: 179.33px;
}

.jumbotron {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.467);
}

footer {
  background: linear-gradient(to right, #000428, #004e92);
}
